<mat-icon  svgIcon="close" color="warn" (click)="onClose()" ></mat-icon>

<div *ngIf="data.name==='Iphone X'"> 
    Network : <br>
    {{iphonex.network}}<br><br>
    Dimension :<br>
    {{iphonex.dimension}}<br><br>
    Weight : <br>
    {{iphonex.weight}}<br><br>
    Display : <br>
    {{iphonex.display}}<br><br>
    Operating System : <br>
    {{iphonex.os}}<br><br>
    Memory : <br>
    {{iphonex.memory}}<br><br>
    Camera : <br>
    {{iphonex.camera}}<br><br>
</div>
<div *ngIf="data.name==='Iphone SE'">Network : <br>
    {{iphoneSE.network}}<br><br>
    Dimension :<br>
    {{iphoneSE.dimension}}<br><br>
    Weight : <br>
    {{iphoneSE.weight}}<br><br>
    Display : <br>
    {{iphoneSE.display}}<br><br>
    Operating System : <br>
    {{iphoneSE.os}}<br><br>
    Memory : <br>
    {{iphoneSE.memory}}<br><br>
    Camera : <br>
    {{iphoneSE.camera}}<br><br></div>