<mat-icon  svgIcon="close" color="warn" (click)="onClose()" ></mat-icon>

<div *ngIf="data.name==='Galaxy Tab 10'"> 
    Network : <br>
    {{galaxyTab10.network}}<br><br>
    Dimension :<br>
    {{galaxyTab10.dimension}}<br><br>
    Weight : <br>
    {{galaxyTab10.weight}}<br><br>
    Display : <br>
    {{galaxyTab10.display}}<br><br>
    Operating System : <br>
    {{galaxyTab10.os}}<br><br>
    Memory : <br>
    {{galaxyTab10.memory}}<br><br>
    Camera : <br>
    {{galaxyTab10.camera}}<br><br>
</div>

<div *ngIf="data.name==='Ipad Mini'"> 
    Network : <br>
    {{ipadMini.network}}<br><br>
    Dimension :<br>
    {{ipadMini.dimension}}<br><br>
    Weight : <br>
    {{ipadMini.weight}}<br><br>
    Display : <br>
    {{ipadMini.display}}<br><br>
    Operating System : <br>
    {{ipadMini.os}}<br><br>
    Memory : <br>
    {{ipadMini.memory}}<br><br>
    Camera : <br>
    {{ipadMini.camera}}<br><br>
</div>

<div *ngIf="data.name==='Ipad Air'"> 
    Network : <br>
    {{ipadAir.network}}<br><br>
    Dimension :<br>
    {{ipadAir.dimension}}<br><br>
    Weight : <br>
    {{ipadAir.weight}}<br><br>
    Display : <br>
    {{ipadAir.display}}<br><br>
    Operating System : <br>
    {{ipadAir.os}}<br><br>
    Memory : <br>
    {{ipadAir.memory}}<br><br>
    Camera : <br>
    {{ipadAir.camera}}<br><br>
</div>