<mat-icon  svgIcon="close" color="warn" (click)="onClose()" ></mat-icon>

<div *ngIf="data.name==='Lenovo Thinkpad T440'"> 
    Network : <br>
    {{lenovoT440.network}}<br><br>
    Display :<br>
    {{lenovoT440.display}}<br><br>
    Operating System : <br>
    {{lenovoT440.os}}<br><br>
    Memory : <br>
    {{lenovoT440.memory}}<br><br>
    Processor : <br>
    {{lenovoT440.processor}}<br><br>
</div>

<div *ngIf="data.name==='MacBook Air'"> 
    Network : <br>
    {{MacBookAir.network}}<br><br>
    Display :<br>
    {{MacBookAir.display}}<br><br>
    Operating System : <br>
    {{MacBookAir.os}}<br><br>
    Memory : <br>
    {{MacBookAir.memory}}<br><br>
    Processor : <br>
    {{MacBookAir.processor}}<br><br>
</div>